<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>FileStreamBot - Download Page</title>
    <meta
      name="description"
      content="Download website for FileStreamBot, wait for a few seconds to download your content."
    />
    <meta name="author" content="DivideProjects" />

    <meta property="og:title" content="Download website for FileStreamBot" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://divkix.me" />
    <meta
      property="og:description"
      content="Download website for FileStreamBot, wait for a few seconds to download your content."
    />

    <script async src="https://arc.io/widget.min.js#iV2ngVtF"></script>
    <script
      async
      src="https://ackee.divkix.me/tracker.js"
      data-ackee-server="https://ackee.divkix.me"
      data-ackee-domain-id="76b6ce15-fbd8-4187-b822-ae4798fa38ed"
      data-ackee-opts='{ "detailed": true }'
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-hcaptcha"></script>

    <style>
      .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
      }

      button:disabled,
      button[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
      }
    </style>
  </head>

  <body>
    <b>Press the button below to download the file!</b>
    <br />

    <h-captcha
      id="signupCaptcha"
      site-key="b349154f-f7b7-4752-bcfd-187cb50f4b75"
    >
    </h-captcha>

    <button
      id="vBtn"
      class="btn"
      onclick="window.open('{{ download_link }}')"
      style="width: 100%"
      disabled="true"
    >
      <i class="fas fa-download"></i> Download
    </button>

    <script type="text/javascript">
      const signupCaptcha = document.getElementById("signupCaptcha");
      const btn = document.getElementById("vBtn");

      signupCaptcha.addEventListener("verified", (e) => {
        console.log("verified event");
        btn.disabled = false;
      });
      signupCaptcha.addEventListener("error", (e) => {
        console.log("error event", { error: e.error });
        btn.disabled = true;
      });
    </script>
  </body>
</html>
