<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>FileStreamBot - Download Page</title>

    <meta
      name="description"
      content="Download website for FileStreamBot, wait for a few seconds to download your content."
    />
    <meta name="author" content="DivideProjects" />
    <meta property="og:title" content="Download website for FileStreamBot" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://divkix.me" />
    <meta
      property="og:description"
      content="Download website for FileStreamBot, wait for a few seconds to download your content."
    />
    <meta property="og:image" content="assets/img/favicon.png" />
    <link rel="icon" href="assets/img/favicon.png" />
    <link rel="icon" href="assets/img/favicon.png" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="assets/img//apple-touch-icon.png" />

    <script async src="https://arc.io/widget.min.js#iV2ngVtF"></script>
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script
      async
      src="https://ackee.divkix.me/tracker.js"
      data-ackee-server="https://ackee.divkix.me"
      data-ackee-domain-id="76b6ce15-fbd8-4187-b822-ae4798fa38ed"
      data-ackee-opts='{ "detailed": true }'
    ></script>

    <style>
      html,
      body {
        height: 100%;
      }
      html {
        display: table;
        margin: auto;
      }
      body {
        display: table-cell;
        vertical-align: middle;
      }
      .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
      }
      button[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
      }
    </style>
  </head>

  <body>
    <div style="text-align: center">
      <b>Please verify the captcha to download the file!</b>
      <br />
      <br />
      <div
        class="h-captcha"
        data-sitekey="b349154f-f7b7-4752-bcfd-187cb50f4b75"
        data-callback="onSubmit"
      ></div>
      <br />
      <button
        id="vBtn"
        class="btn"
        onclick="window.open('{{ download_link }}')"
        style="width: 100%"
        disabled="true"
      >
        Download
      </button>
    </div>

    <script>
      function onSubmit(token) {
        const btn = document.getElementById("vBtn");
        console.log("Response Token: ", token);
        if (token) {
          btn.disabled = false;
          btn.style.backgroundColor = "green";
          btn.style.color = "white";
        }
        //sendPostReq(token, btn);
      }

      function sendPostReq(rToken, btn) {
        const url = "https://hcaptcha.com/siteverify";
        const secret = "0x622965962F316d443F7cc9B9AA2402f222becea9";
        var options = {
          mode: "no-cors",
          method: "POST",
          body: `response=${rToken}&secret=${secret}`,
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
        };

        fetch(url, options)
          .then((data) => data.json())
          .then(function (data) {
            const success = data["success"];
            if (success) {
              console.log("Captcha Solve Success");
              // enable download button
              btn.disabled = false;
            } else {
              console.log("Captcha Solve Failed:\n", data);
              // reload captcha
              location.reload();
            }
          })
          .catch((err) => console.error("Error: ", err));
      }
    </script>
  </body>
</html>
