<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>FileStreamBot - DivideProjects</title>
    <meta
      name="description"
      content="Download website for FileStreamBot, wait for a few seconds to download your content."
    />
    <meta name="author" content="DivideProjects" />
    <meta property="og:title" content="Download website for FileStreamBot" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://divkix.me" />
    <meta
      property="og:description"
      content="Download website for FileStreamBot, wait for a few seconds to download your content."
    />
    <meta property="og:image" content="assets/img/favicon.png" />
    <link rel="icon" href="assets/img/favicon.png" />
    <link rel="icon" href="assets/img/favicon.png" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="assets/img//apple-touch-icon.png" />

    <script async src="https://arc.io/widget.min.js#iV2ngVtF"></script>
    <script
      async
      src="https://ackee.divkix.me/tracker.js"
      data-ackee-server="https://ackee.divkix.me"
      data-ackee-domain-id="76b6ce15-fbd8-4187-b822-ae4798fa38ed"
      data-ackee-opts='{ "detailed": true }'
    ></script>
  </head>

  <body>
    Status: {{ status }}
    <br />
    Maintained By: <a href="https://t.me/{{ maintainer }}">@{{ maintainer }}</a>
    <br />
    Uptime: {{ uptime }}
    <br />
    Bot Username:
    <a href="https://t.me/{{ bot_username }}">@{{ bot_username }}</a>
  </body>
</html>
